
	<%= form_for(book) do |f| %>

	<!-- エラーメッセージ表示-->
	<% if book.errors.any? %>
		<h3><%= book.errors.count %>error occurrence</h3><!--エラーメッセ-->
		<ul>
			<% book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	<!-- エラーメッセージ表示-->


		<div class="field row">
			<%= f.label :title %>
			<%= f.text_field :title, class: "col-xs-12 book_title" %>
		</div>

		<div class="field row">
			<%= f.label :body %> <!-- ここを変更 -->
			<%= f.text_area :body, class: "col-xs-12 book_body" %>
		</div>

		<div class="actions row">
			<%= f.submit class: "btn btn-primary col-xs-12" %>
		</div>
	<% end %>
